{{#conditional-loading-spinner condition=model.loading}}
{{#if model}}
<div class="admin-container">
  <div class="embeddable-hosts">
    <table class="embedding">
      <tr>
        <th>Feed URL</th>
        <th>Posting Username</th>
        <th>Category</th>
        <th> </th>
      </tr>
      {{#each model as |feed|}}
        {{#if feed.editing}}
          <tr>
            <td>{{input value=feed.url placeholder="http://example.com/rss" enter="save" class="host-name"}}</td>
            <td>{{user-selector usernames=feed.username class="user-selector" single="true" canReceiveUpdates="true"}}</td>
            <td>{{category-chooser value=feed.category_id}}</td>
            <td>{{d-button icon="check" action="saveFeed" actionParam=feed class="btn-primary" disabled=feed.disableSave}} {{d-button icon="times" action="cancelEdit" actionParam=feed class="btn-danger"}}</td>
          </tr>
        {{else}}
          <tr>
            <td>{{feed.url}}</td>
            <td>{{#link-to 'adminUser' feed.user_id feed.username }}{{feed.username}}{{/link-to}}</td>
            <td>{{category-link feed.category allowUncategorized="true" link="false"}}</td>
            <td>{{d-button icon="pencil" action="editFeed" actionParam=feed class="btn-primary"}} {{d-button icon="trash-o" action="deleteFeed" actionParam=feed class="btn-danger"}}</td>
          </tr>
        {{/if}}
      {{/each}}
    </table>
  </div>
</div>
{{else}}
<p>{{i18n "admin.rss_import.no_feeds_description"}}</p>
{{/if}}
{{d-button label="admin.rss_import.add_feed" action="addFeed" icon="plus" class="btn-primary add-host"}}
{{/conditional-loading-spinner}}